<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p class="flash"><%= flash.notice %></p>
    <div class="sidebar">
      <ul id="sidebar-ul">
        <li class="sidebar-list"><span class="sidebar-span"><%= link_to "Articles", articles_path %></span></li>
        <li class="sidebar-list"><span class="sidebar-span"><%= link_to "Tags", tags_path %></span></li>
        <% if logged_in? %>
         <li class="sidebar-list"><span class="sidebar-span"><%= link_to "Authors", authors_path %></span></li>
        <% end%>
      </ul>
    </div>
    <div id="container">
      <div id="content">
        <%= yield %>
        <hr>
        <h6>
          <% if logged_in? %>
            <%= "Logged in as #{current_user.email}" %>
            <%= link_to "(logout)", logout_path %>
          <% else %>
            <%= link_to "(login)", login_path %>
          <% end %>
        </h6>
        </div>
      </div>
  </body>
</html>
